#container {
    width: 3854px;
height: 3272px;
top: -2201px;
left: 2825px;
gap: 0px;
opacity: 0px;
background: #FFFFFF;
}
#frame1 {
    width: Hug (1,440px)px;
height: Hug (962px)px;
top: 311px;
left: 487px;
gap: 8px;
opacity: 0px;

}
#headtext {
    width: 1440px;
    height: 54px;
    font-family: Lora;
font-size: 40px;
font-weight: 400;
line-height: 54px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
#maskgroupall {
    width: 1440px;
height: 700px;
padding: 41px 325px 41.11px 325px;
gap: 0px;
opacity: 0px;
display: flex;
}
#maskgroup1 {
    width: 379px;
height: 617.89px;
top: 41px;
left: 325px;
gap: 0px;
border-radius: 16px 0px 0px 0px;
opacity: 0px;
}
#img1{
    width: 379px;
    height: 617.89px;
    top: 41px;
    left: 325px;
    gap: 0px;
    border-radius: 16px 16px 16px 16px;
    opacity: 0px;
    background: #D9D9D9;
}
#maskgroup2 {
    width: 379px;
    height: 617.89px;
    top: 41px;
    left: 736px;
    gap: 0px;
    border-radius: 16px 0px 0px 0px;
    opacity: 0px;
    padding-left: 20px;
    
}
#img2 {
    width: 379px;
height: 617.89px;
top: 41px;
left: 736px;
gap: 0px;
border-radius: 16px 16px 16px 16px;
opacity: 0px;
background: #D9D9D9;
}
#textfooter1 {
    width: 810px;
height: 120px;
gap: 0px;
opacity: 0px;
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-left: 310px;
margin-top: -80px;
}
#textfooter2 {
    width: 810px;
    
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 310px;
    margin-top: -30px;
}