#container {
    width: 3854px;
height: 3272px;
top: -2201px;
left: 2825px;
gap: 0px;
opacity: 0px;
background: #FFFFFF;
}
#frame1 {
    width: Hug (1,440px)px;
height: Hug (962px)px;
top: 311px;
left: 487px;
gap: 8px;
opacity: 0px;

}
#headtext {
    width: 1215px;
    height: 54px;

}